<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="/home/page">Third Dimension</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse me-auto" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <li>
        <%=link_to "home", root_path, class: " sr-only"%>
      </li>
      <%if user_signed_in?%>
      <li>
        <p class="nav-link active mr-2">Logged in as: <%= (current_user.first_name + ' ' + current_user.last_name) %></p>
      </li>
      <li>
        <%= link_to "log out", destroy_user_session_path, method: :delete, class: "nav-link active mr-2"%>
      </li>
      <li class="nav-item d-flex">
        <%= image_tag user_avatar(current_user), class: "nav-avatar nav-item rounded-circle" %>
        <%= link_to "profile", root_path ,class: "nav-link active"%>
      </li>
      <%else%>
      <%= link_to "login", new_user_session_path, class: "nav-link active"%>
      <%end%>
    </ul>
  </div>
</nav>
<div class="cat-bar navbar-dark">
  <ul class="nav justify-content-center ">
    <li class="text-white mx-3">

      <%= link_to "Dioramas", products_path, class: "nav-link active text-white"%>

    </li>
    <li class="nav-item mx-3">
      <%= link_to "Models", products_path, class: "nav-link active text-white"%>
    </li>
    <li class="nav-item mx-3">
      <%= link_to "Supplies", products_path, class: "nav-link active text-white"%>
    </li>
  </ul>
</div>