<%= simple_form_for(@product) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs text-white">
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category, collection: ["Dioramas", "Models", "Supplies"] %>
</div>

<div class="field text-white">
  <%= f.file_field :images, multiple: true%>
</div>

<div class="form-actions">
  <%= f.button :submit, class: "btn btn-primary"%>
</div>
<% end %>