<h2 class="container text-center text-light">All Products</h2>

<div class="card text-center mt-5">
  <div>

    <p class=" text-dark mt-2 ">
      <%= @product.name.capitalize %>
    </p>


    <p class="text-dark  mt-2">
      <%= @product.description.capitalize %>
    </p>


    <p class="text-dark white mt-2">
      <%= @product.category %>
    </p>

    <p class="text-dark white mt-2">
      $<%= @product.price %>
    </p>

    <div class="row justify-content-md-center">
      <div class="m-2">
        <% @product.images.each_with_index do |image, i| %>
        <%= image_tag image, class: "col-md-4 m-2 " %>
        <%end%>
      </div>
    </div>


    <div class="m-5">
      <%= link_to "Buy Now", new_order_path(@product.id),class: 'product_page_btn'%>
      <%= link_to 'Edit', edit_product_path(@product), class:'product_page_btn' if current_user && current_user == @product.user %>
      <%= link_to 'Back', products_path, class:'product_page_btn' if current_user && current_user == @product.user%>
    </div>

  </div>

</div>