<h2 class="container text-center text-light">All Products</h2>

<div class="card text-center mt-5">
  <div>

    <p class=" text-dark mt-2 ">
      <%= @product.name %>
    </p>


    <p class="text-dark  mt-2">
      <%= @product.description %>
    </p>


    <p class="text-dark white mt-2">
      <%= @product.category %>
    </p>

    <div class="row justify-content-md-center">
      <div class="m-2">
        <% @product.images.each_with_index do |image, i| %>
        <%= image_tag image, class: "col-md-4 m-2 " %>
        <%end%>
      </div>
    </div>

    <%if current_user == @product.user %>
    <div class="m-5">
      <%= link_to 'Edit', edit_product_path(@product), class:'btn product_page_btn ' %>
      <%= link_to 'Back', products_path, class:'btn product_page_btn'%>
    </div>
    <%end%>
  </div>

</div>